.navbar a:hover {
    color: #0A003F
}

nav div a {
    color: #000000;
}

.navbar-brand-centered {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

/* portada con efecto parallax */

.portada-index {
    background-attachment: fixed;
    background-color: #ffffff;
    background-image: url("../img/portadaindex.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}

/* -----whatsapp----- */

.caja-wp {
    align-items: center;
    background-color: #25D366;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    margin: 0;
    min-width: 60px;
    position: fixed;
    right: 20px;
    top: 500px;
    z-index: 1;
}

.caja-wp i {
    font-size: 1.5rem;
    color: #ffffff;
}

/* -----Carrousel----- */

.carousel-item img {
    clip-path: inset(20% 0 0 0);
    height: 400px;
    margin-bottom: 0%;
    margin-top: -10%;
    width: 100%;
}

.carousel-caption {
    background: none;
    box-sizing: border-box;
    color: white;
    left: 50%;
    padding: 10px 20px;
    position: absolute;
    top: 10%;
    transform: translateX(-50%);
    width: 100%;
}

/* -----formulario de contacto----- */

.full-width-form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
    width: 100%;
}

.full-width-form input,
.full-width-form textarea {
    box-sizing: border-box;
    width: 100%;
}


/* -----portfolio----- */


.parent { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    }


/* -----footer----- */

.footer {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 50px;
    padding: 100px;
    text-align: center;
}

footer div a {
    color: #000000;
}

footer div a:hover {
    color: #0A003F
}

h3,
h4 {
    color: #000000;
    font-size: 14px;
}

.contacto h3 a,
.contacto h4 a {
  text-decoration: none;
}

.texto-redes {
    display: none
}

@media screen and (max-width: 768px) {
    .portada-index {
        height: 500px;
    }

@media (min-width: 768px) {

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        clip-path: inset(20% 0 0 0);
        margin-top: -10%;
        margin-bottom: 0%;
    }
    
    .carousel-caption {
        background: none;
        box-sizing: border-box;
        color: white;
        left: 50%;
        padding: 10px 20px;
        position: absolute;
        top: 10%;
        transform: translateX(-50%);
        width: 100%;
    }

    footer div a {
        color: #000000;
    }

    footer div a:hover {
        color: #0A003F
    }

    h2 {
        color: #000000;
        font-size: 18px;
    }

    h3,
    h4 {
        color: #000000;
        font-size: 12px;
    }
    
    .contacto h3 a,
    .contacto h4 a {
      text-decoration: none;
    }

    .texto-redes {
        display: none
    }

    .contacto,
    .redes,
    .horario {
        width: 30%;
    }

    .redes {
        text-align: center;
    }
}

/* @media (min-width: 480px) {

    .portada-index {
        background-attachment: fixed;
        background-color: #ffffff;
        background-image: url("../img/portadaindex.jpg");
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
} */

;